
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #005900;
  background-color: #00A9E0;
  background-color: #001F3F; */
  /* background-color: #00008B; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  

  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* background-image: url('https://s.yimg.com/ny/api/res/1.2/Y4.u2g_xtflEEkg5xnr_7Q--/YXBwaWQ9aGlnaGxhbmRlcjt3PTI0MDA7aD0xNDI2O2NmPXdlYnA-/https://s.yimg.com/os/creatr-uploaded-images/2023-10/4456f1c0-69e5-11ee-a97f-8c073955ed8d'); */ /*imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen al tamaño de la ventana del navegador */
  background-position: center; /* Centra la imagen en la ventana del navegador */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.card-container {
  display: flex;
  flex-direction: row; /* Esto establece la dirección de los elementos en una fila */
  align-items: center; /* Alinea los elementos verticalmente en el centro si es necesario */
  position: relative;
  
}
.card-button-container {
  position: absolute;
  top: 0;
  left: 0;
}
.card-button-container2 {
  position: absolute;
  top: 0;
  right: 0;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 tarjetas en una fila */
  gap: 20px; /* Espacio entre las tarjetas */
}
.nombreDaCarta {
  position: absolute;
  bottom: 0;
  left: 0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
