
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #005900;
  background-color: #00A9E0;
  background-color: #001F3F; */
  /* background-color: #00008B; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  

  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/442/188/desktop-wallpaper-aesthetic-ps4-rick-and-morty-rick-and-morty.jpg'); /*imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen al tamaño de la ventana del navegador */
  background-position: center; /* Centra la imagen en la ventana del navegador */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* .card-button-container {
  position: absolute;
  top: 0;
  left: 0;
  
} */
.card-button-container2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.circle{
  position: absolute;
  top: 0;
  left: 0;
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height:28px;
  padding: 0.2em 0.2em;
}
.card-grid {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */ /* 4 tarjetas en una fila */
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
}
.flip-card {
  
  background-color: transparent;
  width: 300px;
  height: 300px;
  
  perspective: 1000px;
  
  
  /* align-items: center; */ /* Alinea los elementos verticalmente en el centro si es necesario */
  /* position: relative; */
  /* width: 4rem;
  height: 8rem; */
}
.nombreDaCarta {
  text-decoration: underline;
  margin-top: 50px;
  position: medium;
  border: 5px solid transparent;
  color:indigo
  /* bottom: 0;
  left: 0; */
}
.flip-card-inner {
  /* position: relative; */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 30px;
  
}
.flip-card-back {
  /* position: top; */
  
  /* display: grid; */
  
  background-color: rgba(126, 247, 110, 0.342);
  color: black;
  transform: rotateY(180deg);
  width: 300px;
  height: 300px;
  border: 3px solid transparent;
  border-color: #535bf2;
}
.imageDaCarta{
  border-radius: 30px;
}
.navStyle{
  display: flex;
  /* flex-direction: row; */
  padding: 0.1rem;
  /* background-color:rgba(126, 247, 110, 0.342); */
  border-bottom: 60px solid transparent;
  margin-left: 3rem;
  
}
.aboutStyle{
  margin-right: 1rem;
}
.homeStyle{
  margin-inline: 1rem;
}
.favoritesStyle{
  margin-inline: 1rem;
}
.searchStyle{
  margin-left: 19rem;
}
.agregarStyle{
  margin-inline: 1rem;
}
.randomStyle{
  margin-right: 2rem;
}
.logOutStyle{
  margin-inline: 1rem;
}
.detailStyle{
  display: flex;
}
.imgdetailStyle{
  width:30rem ;
  border-radius: 30px;
  margin-left: 7rem;
  margin-top: 1rem;
}
.detdetStyle{
  margin-left: 8rem;
  /* margin-top: 1rem; */
  text-align: left;
  color: black;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
